<hr>
<footer>
	<p>Follow Misty on social media</p>
	<ul>
		<li>
			<a href="https://twitter.com/alizahid0" class="twitter"></a>
		</li>
		<li>
			<a href="#" class="youtube"></a>
		</li>
	</ul>
</footer>
