<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<title>Misty</title>
	<link rel="stylesheet" href="assets/css/metallophile/metallophile.css?v2">
	<link rel="stylesheet" href="assets/css/main.css?v2">
</head>

<body>
	{{> nav}}
	{{> header}}
	{{> main}}
	{{> footer}}
</body>

<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="assets/js/main.js?v2"></script>

</html>
