$primary: #13FF29;
$accent: #E6FF42;

$color: #F7FAE5;
$heading: #E8E361;
$subheading: #9FB84A;

$green: #10D222;
$greenBright: #6CFF44;
$greenDull: #769944;
$greenFaded: #9FB84A;

$background: #000;
$white: #FFF;

$backgroundHeading: linear-gradient(top, $greenDull 0%, $greenDull 22.916667%, $greenFaded 37.5%, $heading 55%);
